.event-show-page{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    
}
.event-show-content{
    background-color: rgb(219, 250, 250);
    margin-top: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: space-between;
}
.event-show-details{
    margin-right: 100px;
}
.event-details{
    font-size: 30px;
    font-family: 'Nunito';
    color: rgb(104, 105, 105);
}
.event-title{
    font-size: 60px;
    font-family: 'Nunito';
    margin-bottom: 30px;
    font-weight: bold;
}
.description{
    font-size: 30px;
    margin-bottom: 50px;
    font-family: 'Nunito';
    color: rgb(104, 105, 105);
}
.show-img{
    height: 400px;
    width: 400px;
    margin-bottom: 10px;
    margin-left: 200px;
    margin-right: 50px;
}