$Courgette: "Courgette", cursive;
$KaushanScript: "Kaushan Script", cursive;
$Pacifico: "Pacifico", cursive;
$Nunito: "Nunito", sans-serif;


.inner-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100%;
  
}

.app-description{ 
  // background-color:  #f2a07b;
  background-color: #9dcac0;;
  font-size: 55px;
  font-family: $Nunito;
  font-weight: bold;
  color: #175245;
  height: 100px;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 80px;
}

 .event-content {
  display: flex;
  // flex-direction: column;
  // justify-content: center;
  color: black;
  width: 80%;
  height: 70%;
  // align-items: center;
  position: absolute;
  font-family: $Nunito;
  background: hsla(0, 16%, 96%, 0.5);
  // z-index: 1000;
  .event-text {
    font-size: 30px;
    font-family: $Nunito;
  text-align: left;
  width: 100%;
      padding: 40px 20px 0 0;
    // justify-content: flex-start;
//   z-index: 1000;
  }
  .name{
    font-size: 50px;
    font-family: $Nunito;
    text-align: left;
    width: 100%;
  }
} 
.join-button {
  background-color: #C70A04;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bolder;
  margin: 4px 2px;
  border-radius: 5px;
  cursor: pointer;
  height: 100px;
  width: 400px;
  margin-top: 30px;
}
.inner-img{
  margin: 50px 20px 0 20px;
  width: 40%;
  height: 100%;
  position: relative;
}
.main-event-img{
  width: 10px;
  height: 10px;
  position: absolute;
}
.img {
  width: 100vw;
  height: 100vh;
 
}
.main-event-img{
  width: 100%;
  height: 80%;
}