.nav-bar {
  display: flex;
  justify-content: space-around;
  padding: 0 40px;
  background: #cee5d0;
  align-items: center;
  .nav-bar-btn {
    width: 100px;
    height: 40px;
    border-radius: 80px;
    margin-left: 5px;
    font-size: 20px;
    color: darkgrey;
    padding: 0px 10px;
  }
}
