.profile-event-page{
    display: flex;
    flex-direction: column;
}

.p-event-container-title{
    background-color: rgb(253, 242, 246);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 60px;
    color: #6e6e6d;
    border-top: 1px solid rgb(214, 211, 211);
    // box-shadow: 3px 3px rgb(248, 246, 246), -1em 0 .4em #7ec1ff;
}

.session-titles {
    margin-top:  60px;
    transition: all 0.1s ease-in-out;
    font-weight: bold;
    font-family: $Nunito;
    font-size: 80px;
    margin-bottom: 3px;
    filter: drop-shadow(1px 1px 1px rgba(5, 0, 0, 0.67));

}
.session-titles:hover{
    transform: scale(1.05);
    cursor: pointer; 
    color: #7ec1ff; 
}


.profile-event-container{
    background-color: rgb(250, 229, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
  
    padding-bottom: 1px solid gray;
}

.profile-event-content{
    background-color: rgb(250, 229, 236);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}


.p-e-img{
    height: 400px;
    width: 500px;
    margin-bottom: 10px;
    margin-left: 200px;
    margin-right: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 6px 12px rgb(90, 89, 89);
    
} 

.profile-event-detials{
    display: flex;
    flex-direction: column;
}

.p-e-t{
    font-size: 30px;
    font-family: 'Nunito';
    color: rgb(104, 105, 105);
    margin-bottom: 30px;
}


.p-e-n{
    font-size: 60px;
    font-family: 'Nunito';
    margin-bottom: 40px;
    font-weight: bold;
    width: 450px;

}

.p-e-d{
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Nunito';
    color: rgb(104, 105, 105);
    width: 400px;

}
.p-event-buttons {
    display: flex;
    flex-direction: column;

   
}
.p-e-l {
  background-color: #C70A04;
  color: white;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: $Nunito;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  height: 90px;
  width: 300px;
  margin-top: 30px;
  margin-right: 30px;
  border: none;
//   filter: drop-shadow(5px 7px 4px rgba(68, 67, 67, 0.67));
}
.p-e-l:hover{
    color: #40aaff;
}
.p-e-btn{
   
     filter: drop-shadow(3px 5px 2px rgba(68, 67, 67, 0.67));
     
}
.rofile-friends-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.p-e-i{
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
     box-shadow: 10px 10px 6px 4px rgb(90, 89, 89);
     border-radius: 50%;

}

.friend-request-container {
    display: flex;
    align-items: center;
    background-color: rgb(250, 229, 236);
    flex-direction: column;
    height: 120vh;
    width: 100vw;
    

}

.friend-search-form{
    display: flex;
    margin-top: 30px;
}
.friend-search-bar{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 700px;
    height: 80px;
    border: 1px solid rgb(163, 161, 161);
    border-radius: 10px;
    padding-left: 20px; 
    color: black; 
    margin-top: 40px;
 
    position: absolute; 
}
::placeholder {
  color: rgb(160, 158, 158);
  font-family: $Nunito;
}

.friend-search-button{
    font-size: 40px;
    width: 130px;
    height: 80px;
    color: white;
    font-weight: bold;
    font-family: $Nunito;
    background-color: #C70A04;
    outline: none; 
    border: 1px solid black; 
    border-radius: 3px; 
    margin-top: 40px;
    // position: absolute;
}
.friend-search-button:hover{
    color: #40aaff;
    cursor: pointer; 
}
.entire-dropdown{
  height: 320px;
  width: 700px; 
  overflow-y: scroll;
  overflow-x: hidden; 
  margin-bottom: 30px;
  margin-top: 120px;

}

.user-info-1 {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 80px;
  background-color: white;
  border: 1px solid rgb(214, 211, 211);
  color: rgb(7, 0, 0);
  font-size: 40px;
}

.user-info- {
  display: flex;
  height: 120px;
  width: 683px; 
  padding-left: 20px; 
  cursor: pointer;  
  border-radius: 3px; 
}

.user-info-:focus{
    outline: none;
    border: 3px solid #1890FF; 
    background-color: #d2e4e6;
}

.user-info-content{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 50px;
    color: black;
    
    // background-color: white;
}

.user-info-icon{
    margin-top: 10px;
    width: 60px;
    height: 60px;
    color: rgb(65, 64, 64);
}
.user-info-content-input{
    margin-bottom: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
 
}
.friend-search-bar-error{
    font-size: 25px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;

}

.profile-page-friends{
    background-color: rgb(250, 229, 236);
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    
}

